@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

* {
    font-family: 'Nunito Sans';
    color: $white;
}

.title{
    font-weight: bold;
    color: $primary;
    font-size: 4rem;
}