@import '_bootstrap';

header{
    display: flex;
    padding: 10px;
    height: 56px;
    width: 100%;
    background: $header !important;
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        flex-direction: row;
        list-style: none;
        align-items: center;
        justify-content: space-between;
    }
    li{
        .logo{
            font-size: 24px;
            font-weight: bolder;
            text-decoration: none;
            color: $text;
        }
        span{
            height: 2px;
            width: 30px;
            background-color: $text;
        }
        color: $text;
        padding: 0;
    }
    .menu{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 22px;
    }
}